.justify-content-center{
    display: flex;
    justify-content: center;
    width: 50rem;
}
.form-group{
    margin: 1rem;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    width: 30rem;
}